body {
    margin: 0;
    height: fit-content;
}

#screensaver {
    z-index: 1;
    position: absolute;
}

#menu {
    position: absolute;
    padding-left: 50px;
    z-index: 2;
    color: black;
    width: 100%;
}

#hamburger {
    top: 8px;
    left: 8px;
    position: absolute;
    z-index: 100;
    color: black;
    cursor: pointer;
}